@use '@styles/definitions' as *;

.select-wrapper {
  @include custom-flex(center, center);
  position: relative;
  width: fit-content;
}

.select {
  padding: 4px;
  border: 1px solid $color-gray-400;
  padding: 6px 34px 6px 12px;
  appearance: none;
  cursor: pointer;
}

.no-icon {
  padding-right: 12px;
}

.placeholder {
  color: $color-gray-600;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  pointer-events: none;
}
