@use './definitions.scss' as *;
@use './tiptap-editor.scss';

/* Default Settings */
:where(body, iframe, pre, img, svg, video, canvas, select) {
  max-width: 100%;
  overflow: auto;
}

* {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: $color-white;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-height: -webkit-fill-available;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

button {
  user-select: none;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

select {
  background-color: $color-white;
}

fieldset {
  border: none;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// 자동완성
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-ms-clear {
  display: none !important;
}

::-ms-reveal {
  display: none !important;
}

/* End: Default Settings */

/* media query default */
@media (max-width: $breakpoint-desktop) {
  .desktop {
    display: none !important;

    * {
      display: none !important;
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .mobile {
    display: none !important;

    * {
      display: none !important;
    }
  }
}

/* end: media query default */

@font-face {
  font-family: NanumGothic;
  font-weight: 400;
  src: url('../public/fonts/NanumGothic.woff') format('woff');
}

@font-face {
  font-family: NanumGothic;
  font-weight: 700;
  src: url('../public/fonts/NanumGothicBold.woff') format('woff');
}

@font-face {
  font-family: NanumGothic;
  font-weight: 100;
  src: url('../public/fonts/NanumGothicLight.woff') format('woff');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../public/fonts/NotoSansKR-Black.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Black.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Black.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../public/fonts/NotoSansKR-Bold.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Bold.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Bold.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../public/fonts/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-DemiLight.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Regular.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-DemiLight.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../public/fonts/NotoSansKR-Light.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Light.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Regular.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../public/fonts/NotoSansKR-Medium.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Medium.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Medium.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../public/fonts/NotoSansKR-Regular.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Regular.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Regular.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
  font-family: NotoSansKR;
  font-style: normal;
  font-weight: 100;
  src: local(''), url('../public/fonts/NotoSansKR-Thin.woff2') format('woff2'),
    url('../public/fonts/NotoSansKR-Thin.woff') format('woff'),
    url('../public/fonts/NotoSansKR-Regular.ttf') format('truetype'),
    url('../public/fonts/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'KingSejongInstitute';
  src: url('/fonts/KingSejongInstitute-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
