@use '@styles/definitions' as *;

.ProseMirror {
  &-focused {
    outline: none;
  }

  * + * {
    margin-top: 4px;
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    margin-top: 16px;
  }

  section + section {
    margin-top: 16px;
  }

  ul,
  ol {
    list-style: revert;
    padding: 0 1rem;
  }

  li {
    list-style: revert;
  }

  h1 {
    @include display-28-bold();
    min-height: 40px;

    @include mobile {
      @include display-22-bold();
      min-height: 32px;
    }
  }

  h2 {
    @include display-24-bold();
    min-height: 34px;

    @include mobile {
      @include heading-20-bold();
      min-height: 28px;
    }
  }

  h3 {
    @include heading-20-bold();
    min-height: 28px;

    @include mobile {
      @include heading-18-bold();
      min-height: 26px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.6;
  }

  p {
    &.body-1 {
      @include body-18-regular();
      min-height: 34px;

      @include mobile {
        @include body-16-regular();
        min-height: 28px;
      }
    }

    &.body-2 {
      @include body-16-regular();
      min-height: 28px;

      @include mobile {
        @include body-14-regular();
        min-height: 24px;
      }
    }

    &.caption {
      @include heading-14-regular();
      min-height: 24px;

      @include mobile {
        @include heading-12-regular();
        min-height: 16px;
      }
    }
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 24px;
    border-left: 4px solid $color-gray-300;
  }

  hr {
    border: none;
    border-top: 1px solid $color-gray-300;
    margin: 6px 0;
  }

  section {
    padding: 28px;
    border-radius: 8px;

    @include mobile {
      padding: 20px;
    }

    &.stroke {
      padding: 27px;
      border: 1px solid $color-gray-300;

      @include mobile {
        padding: 19px;
      }
    }

    section {
      padding: 20px;
      margin: 12px 0;

      &.stroke {
        padding: 19px;

        @include mobile {
          padding: 15px;
        }
      }
    }
  }
}
